<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

 
  <div class="header">

 
  

  <div class="menu">
 

 
   <div class="menuIcon" (click)="toggle2()"></div>
 

   <div class="logo-simple" (click)="GoToInicio()">
     <!-- <img src="assets/images/home/oaxacaLogo.png"> -->
     <span class="logoW">oaxacatrespuntocero.com</span>
     <span class="logoM">oaxaca 3.0</span>
   </div>

  <div class="redes-header">


     <i class="fa fa-search " aria-hidden="true" (click)="toggle3()" *ngIf="SearchReady" ></i>

    <a href="https://www.facebook.com" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    
    <a href="https://twitter.com/" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="http://instagram.com/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>

  


</div><!-- redesSociales -->


<div class="contenedorBuscar" *ngIf="SearchReady" [@heroState4]="stateName4">


   <input class="form-control" type="text" name="search" placeholder="Buscar..." [(ngModel)]="filter" (click)="openSearch()">     

 

<div class="ContenedorFintrado flexcroll-Menu" [@heroState3]="stateName3">
        <div class="btn_Close" (click)="closeSearch()"></div>
        <div style="clear: both;"></div>
        <div class="bloques"  (click)="GoToBusqueda()">Ir a página de busqueda</div>
      <div class="bloques" *ngFor="let post of posts_search_full | filter:filter; let i = index " (click)="selectPost(post.slug)">
      
            {{ post.title.rendered }} 
      </div>
</div><!-- ContenedorFintrado -->


</div><!-- ContenedorBuscar -->

 <!-- MENU MOVIL ================== -->
<div class="menuMovil">
  
</div><!-- menuMovil -->

<div class="Menu-Activo-Movil flexcroll-Menu" [@heroState2]="stateName2" >

<div class="btn_Close" (click)="toggle2()"></div>


<div class="logo" (click)="GoToInicio()">
  <img src="assets/images/home/oaxacaLogo.png">
</div>


<div class="Bloques" (click)="GoToInicio()">
  Inicio
</div>

<div class="Bloques" (click)="SeleccionMenu('noticias')">
  Noticias
</div>

<div class="Bloques" (click)="SeleccionMenu('glamour')">
  Glamour
</div>

<div class="Bloques" (click)="SeleccionMenu('internet')">
  Internet
</div>

<div class="Bloques" (click)="SeleccionMenu('deportes')">
  Deportes
</div>

<div class="Bloques" (click)="SeleccionMenu('espectaculos')">
  Espectáculos
</div>

<div class="Bloques" (click)="SeleccionMenu('videos')">
  Videos
</div>

<div class="Bloques" (click)="SeleccionMenu('oaxaca')">
  En Oaxaca
</div>

 <div class="Bloques">Quiénes somos</div>

 <div class="Bloques">Directorio</div>

 <div class="Bloques">Publicidad</div>

  


<div class="redesSociales">
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  
  <a href="https://twitter.com/" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>

  <a href="http://instagram.com/" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

  <a href="https://www.youtube.com/" target="_blank">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
  </a>

</div><!-- redesSociales -->
 


</div><!--Menu-Activo-Movil -->

 

<div style="clear: both;"></div>
</div><!-- menu -->


</div><!-- header -->

  