<!DOCTYPE html>
<html >
<head>

	<title></title>

	<link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="assets/css/style.css">

    <script type="text/javascript" class="teads" async="true" src="//a.teads.tv/page/75644/tag"></script>

    
</head>
<body >


 <app-menu-general></app-menu-general>


<div *ngIf="tam_bloque_visible">
<div class="Bloque-Full-Post" *ngIf="post">
    <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>


   <div class="BloqueDatos">
          <div class="categoria">{{post.post_categoria}}</div>
          <div class="titulo">{{ post.title.rendered }}</div>
          <div class="fecha">{{ post.post_fecha}} | por: <span> {{post.post_author}} </span> </div>      
    </div><!-- BloqueDatos -->

</div> <!-- Bloque-Full-Post -->
</div>


<div class="BloqueMainPost" [@fadeInAnimation]="stateName">


 


<div class="contenidoPost" *ngIf="post">
  


     <!-- app-banner-header-home -->
    <div class="banner_full-post">
    <app-banner-post-1></app-banner-post-1>
    </div>
    <!-- app-banner-header-home -->


<!-- Imagen del post -->

	<div class="Seccion-titulo" *ngIf="tam_bloqueC_visible">

		<div class="BloqueDatos">
          <div class="categoria">{{post.post_categoria}}</div>
			    <div class="titulo">{{post.title.rendered}}</div>
                <div class="fecha">{{ post.post_fecha}} | por: <span> {{post.post_author}} </span> </div>
                
		</div><!-- BloqueDatos -->

	<div style="clear: both;"></div>
	</div><!-- Seccion-titulo -->


	<div class="imagenPost"  *ngIf="tam_bloqueC_visible">
		<img src="{{ post.imagen_minsize }}" class="img-fluid">
	</div>

 




<!-- <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4696364289529994"
     data-ad-slot="6441046231">
</ins>

  <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4696364289529994"
     data-ad-slot="1072236669"
     >
</ins> -->

<!-- <ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-4696364289529994"
     data-ad-slot="1888529465">
</ins> -->
 
  <!-- BannerTop -->
    <app-banner-post-2></app-banner-post-2>
      
      <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.content.rendered)" class="Post_Redered"></div> 


   <!-- BannerBottom -->
    <app-banner-post-3></app-banner-post-3>
   


 
	 <!--<div [innerHTML]="post.content.rendered" class="Post_Redered"></div> -->
 
 


 <div class="CompartirTexto">
 	Compartir:
 </div>
 
 <div class="redesSociales">
  
<i class="fa fa-facebook-square" aria-hidden="true" ceiboShare  [facebook]="{u: repoUrl}"></i>
<i class="fa fa-twitter-square" aria-hidden="true" ceiboShare  [twitter]="{url:repoUrl, text:TweetTitulo+', más información en el siguiente enlace: '}"></i>
<i class="fa fa-google-plus-square" aria-hidden="true" ceiboShare  [googlePlus]="{url:repoUrl}"></i>
</div>

  




<div *ngIf="!post">
	<img class="img-fluid" src="assets/images/home/loading2.gif">	
</div>

</div>


<!-- NOTAS RELACIONADAS -->
<div class="NotasRelacionadas">

     <!-- app-banner-header-home -->
    <div class="banner_full-post">
    <app-banner-post-4></app-banner-post-4>
       
    </div>
    <!-- app-banner-header-home -->


	<div class="SeccionTitulo">Noticias Relacionadas</div>

	<div class="BloqueInformacion" *ngFor="let post of posts_related; let i = index; " (click)="selectPost(post.slug)">
		
		<div class="imagen">
			  <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
		</div><!-- imagen -->



		<div class="informacion">
      <div class="categoria">{{post.post_categoria}}</div>
			<div class="titulo" [innerHTML]="post.title.rendered"></div>
			 <div  class="extracto">{{post.custom_extracto}}</div>

		</div><!-- información -->


	<div style="clear: both;"></div>
	</div><!-- BloqueInformacion -->


<div style="clear: both;"></div>


   <!-- app-banner-header-home -->
    <div class="banner_full-post">
      <app-banner-post-5></app-banner-post-5>
    </div>
    <!-- app-banner-header-home -->


</div><!-- NotasRelacionadas -->


</div><!-- BLOQUE MAIN POST -->
 

 
</body>
  <link rel="stylesheet" href="assets/css/responsive.css">
</html>



