<!DOCTYPE html>
<html >
<head>

  <title></title>

  <link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/style.css">

 
    
</head>
<body >


 <app-menu-general></app-menu-general>


 


<div class="BloqueMainPost">


 


<div class="contenidoPostGeneral"  >
  
 

<!-- Imagen del post -->




  <div class="imagen-general">
      <img src="assets/images/home/oaxacaLogo.png" class="img-fluid">
  </div>

  <div class="Seccion-titulo">
 

    <div class="BloqueDatos">
          <div class="categoria"> </div>

    </div><!-- BloqueDatos -->
   

  <div style="clear: both;"></div>
  </div><!-- Seccion-titulo -->

 




  
      
      <div  class="ContendorGeneral">
        
        <p><b><b>REVOLUCIÓN TRESPUNTOCERO</b></b> nace de la trayectoria de más de 20 años de Argos en medios de comunicación. La experiencia guiada por la coyuntura que actualmente impacta en la credibilidad de los medios de comunicación en México, y en el mundo, reafirmó la necesidad de crear mejores maneras de socializar la información, otorgarle participación a la ciudadanía y dinamizarla a través de la tecnología. La más reciente de las evoluciones tecnológicas, la digital, ha abierto el curso ya a una revolución social, política , económica y cultural.</p>

<p><b>REVOLUCIÓN TRESPUNTOCERO</b> concreta la idea de crear un medio de medios. En otras palabras, rebasa los alcances de los medios tradicionales en audiencia, tratamiento de temas e interacción con el usuario. Estos tres aspectos abren la puerta a la democratización de los medios al encauzar las voces ciudadanas, que por carencia de espacios y en ocasiones de voluntad, son ignoradas por las agendas mediáticas convencionales.</p>

<p>Una de las premisas fundamentales de <b>REVOLUCIÓN TRESPUNTOCERO</b> es dignificar los contenidos con el fin de priorizar la profundidad, la veracidad y el alcance de la información sobre la primicia. <b>REVOLUCIÓN TRESPUNTOCERO</b> apuesta por una investigación comprometida con las causas y las personas: muchos medios llegarán primero, pero nosotros llegaremos al fondo.</p>

<p><b class="colorRojo"> REVOLUCIÓN TRESPUNTOCERO</b> tiene una relación estrecha con el usuario, a través de la Red Social <b class="colorRojo">TRESPUNTOCERO</b> que se traduce en una permanente retroalimentación de experiencia e información. El usuario se beneficia de las ventajas de ésta al encontrar información que refleje sus intereses inmediatos, además le proporciona la opción de compartir contenidos y de tener una relación directa con los reporteros.</p>

<p>Para <b class="colorRojo">REVOLUCIÓN TRESPUNTOCERO</b> el argonauta es un elemento fundamental para mantener la calidad de sus contenidos en función de la demanda.</p>


<p><b>REVOLUCIÓN TRESPUNTOCERO</b> nace y se nutre de los ideales de la izquierda y los movimientos progresistas. Ha crecido gracias a la voluntad y el compromiso de quienes construyen este proyecto, de los que desconfían del monopolio institucionalizado de la información, de quienes se han cansado de ver cómo acontece la vida y están dispuestos a ser partícipes de su transformación.</p>

<p>El 11 de febrero de 2013, se reunió por primera vez el Consejo Editorial de <b>REVOLUCIÓN TRESPUNTOCERO</b>, presidido por Carlos Payán, y conformado por Marcos Czazki –Secretario Técnico-, Virgilio Caballero, Héctor Díaz Polanco, Javier González Garza, Anabel Hernández, Epigmenio Ibarra, Lorenzo Meyer, Tania Negrete y Verónica Velasco.</p>

<p> quienes conformamos este medio de información, es gratificante encontrar ecos de las inquietudes de la población joven en un grupo de hombres y mujeres con la experiencia de quienes hoy constituyen nuestro Consejo Editorial y que, a partir de ahora, trabajarán lado a lado con nuestro equipo para consolidar un medio informativo cercano al lector, con una perspectiva plural de la noticia y un claro sentido social.</p>

<p><b>REVOLUCIÓN TRESPUNTOCERO</b> no es sólo un medio: es un movimiento. La participación de la sociedad es crucial para que avancemos hacia la democratización de los medios de comunicación, la reivindicación de la juventud y su importancia en los cambios sociales; el respeto a los grupos minoritarios; la defensa de los derechos humanos.</p>

<p> muy agradecidos con los miembros de nuestro Consejo Editorial por sumarse al esfuerzo de <b>REVOLUCIÓN TRESPUNTOCERO</b>. Trabajaremos para que, con su experiencia y nuestro entusiasmo, podamos ofrecer un periodismo de calidad. Les damos la bienvenida a esta lucha diaria por la construcción de un México mejor.</p>
      </div> 

 
 


 

</div>

 

</div><!-- BLOQUE MAIN POST -->
 

 
</body>
  <link rel="stylesheet" href="assets/css/responsive.css">
</html>



